:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
}
    
ion-header {
    ion-toolbar{
        --background: var(--ion-backgroud-color,gray);
    }    
}


ion-title {
    color: white;
    font-size: 25px;
}