ion-menu{
    ion-chip{
        --background: rgba(0,0,0,0.3);
        ion-label{
            color: var(--ion-color-primary-contrast, #fff);
            font-family: 'MontserratFont Light';
            span{
                padding-right: 5px;
            }
        }
    }
    ion-content{
        ion-list{
            ion-item-group{
                ion-item{
                    visibility: visible !important;
                    span{
                        margin-top: 4px;
                        padding-left: 8px;
                        font-family: 'MontserratFont Light';
                    }
                }
                .activeItem{
                    visibility: visible !important;
                    --border-color: var(--ion-color-primary);
                    color: var(--ion-color-primary);
                    font-weight: bold;
                    ion-icon{
                        color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}

.my-custom-modal-css .modal-wrapper {
    height: 80%;
    top: 80%;
    position: absolute; 
    display: block;  
 }